<nav id="navBar" class="navBar">
  <div class="title">
    <img src='assets/images/Cizza.png' class='logo' alt="logo de la pizzeria">
  </div>
  <li id="navList" class="navBar">
    <ul></ul>
    <ul>
      <a routerLink="/utilisateurs" routerLinkActive="active">Utilisateurs </a>
    </ul>
    <ul>
      <a routerLink="/pizzas" routerLinkActive="active">Pizzas</a>
    </ul>
    <ul>
      <a routerLink="/menus" routerLinkActive="active">Menus</a>
    </ul>
    <ul>
      <a routerLink="/desserts" routerLinkActive="active">Desserts</a>
    </ul>
    <ul>
      <a routerLink="boissons" routerLinkActive="active">Boissons</a>
    </ul>
    <ul>
      <a routerLink="/clients" routerLinkActive="active">Clients</a>
    </ul>
    <ul>
      <a  routerLink="/commandes" routerLinkActive="active">Commandes</a>
    </ul>
    <ul>
      <a  routerLink="/livreurs" routerLinkActive="active">Livreurs</a>
    </ul>
    <ul>
      <a  routerLink="/ingredients" routerLinkActive="active">Ingrédients</a>
    </ul>
    <ul>
      <a  routerLink="/statistiques" routerLinkActive="active">Statistiques</a>
    </ul>
    <ul>
      <a  routerLink="/promotions" routerLinkActive="active">Promotions</a>
    </ul>


  </li>
  <div class="hamb">
    <div class="hambline"></div>
    <div class="hambline"></div>
    <div class="hambline"></div>
  </div>

</nav>
<div class='nav-espace'></div>
