<div class="tab-container">
    <table class="table">
        <thead>
        <tr>
            <th *ngFor="let enTete of enTetes">{{enTete}}</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of presentationItems; let index = index">
            <td *ngFor="let row of item">{{row}}</td>
            <td>
              <div class="buttons">
                <button class="btn-small neutral" (click)="openForm(index)">Modifier</button>
                <button class="btn-small" (click)="sendSupprNotification(index)">Supprimer</button>
              </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="buttons">
  <button mat-raised-button class="btn valid" (click)="openAjout()">Ajouter</button>
</div>
