.modal{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 900px;

}
.modal-body {
}

fieldset{
  border-radius: 10px;
  display: flex;
  padding: 5px;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
}
